<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Attendances</a></li>
                <li><a href="#">View Department</a></li>
                <li>
                    <span class="opener">Project</span>
                    <ul>
                        <a href="#">View All</a>
                    </ul>
                </li>
                <li>
                    <span class="opener">Tasks</span>
                    <ul>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Chat Rooms</span>
                    <ul>
                        <li><a href="#">View All</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Payrolls</span>
                    <ul>
                        <li><a href="#">Payroll report</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Leave Applications</span>
                    <ul>
                        <a href="#">View All</a>
                        <a href="#">Apply For Leave</a>
                    </ul>
                </li>
                <li><a href="#">News</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>

        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>E.M.S was built to make diffucult tasks look easy to handle for everyone. If you need the developer help
                with anything, feel free to contact me</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">kaymkassai269@gmail.com</a></li>
                <li class="icon solid fa-phone">+86 17126619126</li>
                <li class="icon solid fa-home">Fengxian, Shanghai, China</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Kaym Kassai. All rights reserved</p>
        </footer>

    </div>
</div>