<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="/homeadmin">Home</a></li>
        <li><a href="#">Company</a></li>
        <li>
            <span class="opener">Departments</span>
            <ul>
                <a href="/homeadmin/departments/new">Add New</a>
                <a href="/homeadmin/departments">View All</a>
            </ul>
        </li>
        <li>
            <span class="opener">Employees</span>
            <ul>
                <li><a href="/homeadmin/employees/new">Add New</a></li>
                <li><a href="/homeadmin/employees">View All</a></li>
            </ul>
        </li>
        <li><a href="#">News</a></li>
        <li>
            <span class="opener">Projects</span>
            <ul>
                <li><a href="#">Add New</a></li>
                <li><a href="#">View Current</a></li>
                <li><a href="#">View Completed</a></li>
            </ul>
        </li>
        <li><a href="#">About Us</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>